In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('learningSet.csv')

In [3]:
data.shape

(95412, 481)

#### 1. Check for null values in all the columns

In [4]:
# calculating the percentage of nulls

nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(30)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
RAMNT_4    99.705488
RAMNT_6    99.186685
RDATE_6    99.186685
RAMNT_15   92.388798
RDATE_15   92.388798
RDATE_23   91.763091
RAMNT_23   91.763091
RDATE_20   91.732696
RAMNT_20   91.732696
RAMNT_7    90.677273
RDATE_7    90.677273
RAMNT_17   90.146942
RDATE_17   90.146942
RDATE_21   90.029556
RAMNT_21   90.029556
RAMNT_10   89.035970
RDATE_10   89.035970
RDATE_13   87.160944
RAMNT_13   87.160944
NUMCHLD    87.018404
RDATE_11   84.551209
RAMNT_11   84.551209
RDATE_19   83.359535
RAMNT_19   83.359535
RAMNT_9    82.461326

#### 2.  Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:`OSOURCE`,`ZIP CODE`

In [5]:
drop_list = data
drop_list

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [6]:
drop_list = drop_list.drop(['OSOURCE', 'ZIP'], axis = 1)
drop_list

,ODATEDW,TCODE,STATE,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,RECPGVG,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,,,0,0,,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,,,5001,0,,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,,,3801,0,,X,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,,,4005,0,X,,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,,,1801,0,X,,X,...,0.0,1,L,1,G,C,1,C,12.0,C

#### 3. Identify columns that over 85% missing values

In [7]:
list(nulls[nulls['percentage'] > 85].index)

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23']

#### 4. Remove those columns from the dataframe

In [8]:
data_less_nulls = list(nulls[nulls['percentage'] < 85].index)
len(data_less_nulls)

456

In [9]:
data_less_nulls = data[data_less_nulls]
data_less_nulls

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

#### 5. Reduce the number of categories in the column `gender`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [10]:
categorical = data_less_nulls.select_dtypes(object)
categorical

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [11]:
print(categorical['GENDER'].value_counts())

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [12]:
categorical['GENDER'] = categorical['GENDER'].replace([' '], 'F')

In [13]:
categorical['GENDER'] = categorical['GENDER'].replace(['U', 'J', 'C', 'A'], 'other')
categorical['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64

# Lab 7.2. Feature engineering

#### 1. Check for null values in the numerical columns

In [14]:
numerical = data_less_nulls.select_dtypes(int)
numerical

,ODATEDW,TCODE,DOB,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,STATEGOV,...,NGIFTALL,CARDGIFT,MINRDATE,MAXRDATE,LASTDATE,FISTDATE,CONTROLN,TARGET_B,HPHONE_D,RFA_2F
0,8901,0,3712,0,0,39,34,18,10,2,...,31,14,9208,9402,9512,8911,95515,0,0,4
1,9401,1,5202,16,0,15,55,11,6,2,...,3,1,9310,9512,9512,9310,148535,0,0,2
2,9001,1,0,2,0,20,29,33,6,8,...,27,14,9111,9207,9512,9001,15078,0,1,4
3,8701,0,2801,2,0,23,14,31,3,0,...,16,7,8711,9411,9512,8702,172556,0,1,4
4,8601,0,2001,60,1,28,9,53,26,3,...,37,8,9310,9601,9601,7903,7112,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,0,14,36,47,11,7,8,...,1,0,9602,9602,9602,9602,184568,0,0,1
95408,9601,1,5001,1,0,31,43,19,4,1,...,1,0,9603,9603,9603,9603,122706,0,1,1
95409,9501,1,3801,0,0,18,46,20,7,23,...,7,4,9603,9501,9610,9410,189641,0,1,3
95410,8601,0,4005,0,0,28,35,20,9,1,...,41,18,9011,9608,9701,8612,4693,1,1,4
95411,8801,2,1801,3,1,33,22,27,8,10,...,39,11,8812,9312,9612,8803,185114,0,1,1

In [15]:
nulls = pd.DataFrame(numerical.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(30)

         percentage
ODATEDW         0.0
EIC6            0.0
EIC13           0.0
EIC12           0.0
EIC11           0.0
EIC10           0.0
EIC9            0.0
EIC8            0.0
EIC7            0.0
EIC5            0.0
OCC9            0.0
EIC4            0.0
EIC3            0.0
EIC2            0.0
EIC1            0.0
OCC13           0.0
OCC12           0.0
OCC11           0.0
EIC14           0.0
EIC15           0.0
EIC16           0.0
OEDC1           0.0
SEC1            0.0
EC8             0.0
EC7             0.0
EC6             0.0
EC5             0.0
EC4             0.0
EC3             0.0
EC2             0.0

In [16]:
print(numerical.isna().sum())

ODATEDW     0
TCODE       0
DOB         0
HIT         0
MALEMILI    0
           ..
FISTDATE    0
CONTROLN    0
TARGET_B    0
HPHONE_D    0
RFA_2F      0
Length: 310, dtype: int64

In [17]:
# No NaNs values as we dealt with them in the previous lab

#### 2. Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.

In [18]:
# Getting a count of NaNs for each column

In [19]:
print(data_less_nulls['GEOCODE2'].isna().sum())

132

In [20]:
print(data_less_nulls['WEALTH1'].isna().sum())

44732

In [21]:
print(data_less_nulls['ADI'].isna().sum())

132

In [22]:
print(data_less_nulls['DMA'].isna().sum())

132

In [23]:
print(data_less_nulls['MSA'].isna().sum())

132

In [24]:
#'WEALTH1': Interested in what types of values we have since the count is very high

In [25]:
print(data_less_nulls['WEALTH1'].value_counts())

9.0    7585
8.0    6793
7.0    6198
6.0    5825
5.0    5280
4.0    4810
3.0    4237
2.0    4085
1.0    3454
0.0    2413
Name: WEALTH1, dtype: int64

In [26]:
#'WEALTH1': Checking the unique values for

In [27]:
data_less_nulls['WEALTH1'].unique()

array([nan,  9.,  1.,  4.,  2.,  6.,  0.,  5.,  8.,  3.,  7.])

In [28]:
# Checking the donation value before dealing with NaaNs
len(data_less_nulls[(data_less_nulls['TARGET_D'] < 20) & (data_less_nulls['TARGET_D'] > 0)]), len(data_less_nulls[(data_less_nulls['TARGET_D'] > 20) & (data_less_nulls['TARGET_D'] < 50)]), len(data_less_nulls[data_less_nulls['TARGET_D'] >= 50])

(3316, 836, 114)

In [29]:
#'WEALTH1': I'll try KNN Imputation as we've learned in the last classes. 
# I don't believe dropping 44732 rows is a good option;

import pandas as pd
from sklearn.impute import KNNImputer

# Extracting column
column_KNN = data_less_nulls['WEALTH1']

# Replacing values using KNN
imputer = KNNImputer(n_neighbors=2)
imputed_values = imputer.fit_transform(column_KNN.values.reshape(-1, 1))

In [30]:
column_KNN['WEALTH1'] = imputed_values

In [31]:
print(data_less_nulls['WEALTH1'].value_counts())

9.0    7585
8.0    6793
7.0    6198
6.0    5825
5.0    5280
4.0    4810
3.0    4237
2.0    4085
1.0    3454
0.0    2413
Name: WEALTH1, dtype: int64

In [32]:
data_knn = data_less_nulls
data_knn

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [33]:
#'GEOCODE2': Since it's a blank I will treat it as we do not have the information on the location.
# I'll fill in the blanks with 0.

data_knn['GEOCODE2'] = data_knn['GEOCODE2'].replace([' '], '0')

In [37]:
# looking at the data, variable descriptions and correlation matrix, the columns are codes which I don't believe they're relevant for our target
# I'll drop the columns
print(data_knn['ADI'].value_counts())

13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: ADI, Length: 204, dtype: int64

In [38]:
print(data_knn['DMA'].value_counts())

803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: DMA, Length: 206, dtype: int64

In [40]:
print(data_knn['MSA'].value_counts())

0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, Length: 298, dtype: int64

In [43]:
sel_columns = ['ADI', 'DMA', 'MSA', 'TARGET_D']
df_sel = data_knn[sel_columns]

In [44]:
# calculate the correlation matrix for selected columns
corr_matrix = df_sel.corr()

In [45]:
# display the correlation matrix; this shows little to no correlation between these features and the target
print(corr_matrix)

               ADI       DMA       MSA  TARGET_D
ADI       1.000000 -0.094321 -0.200883 -0.012700
DMA      -0.094321  1.000000  0.308739  0.022048
MSA      -0.200883  0.308739  1.000000  0.015054
TARGET_D -0.012700  0.022048  0.015054  1.000000

In [47]:
# Drop the columns
data_knn = data_knn.drop(['ADI', 'DMA', 'MSA'], axis=1)

In [50]:
data_knn.shape

(95412, 453)